html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
}

p {
  margin: 0;
}

#navbar {
  position: sticky;
  height: 10vh;
  top: 0px;
  width: 100%;
  background-color: whitesmoke;
  list-style-type: none;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar a {
  text-decoration: none;
  margin: 0px 40px;
}

#logo {
  height: 50px;
}

#hero {
  background-image: url(img/hero.jpg);
  background-position: center;
  background-size: cover;
  height: 90vh;
}

div[id^='secao-'] {
  width: 60%;
  margin: 0px auto;
  padding: 10vh 0px;
  min-height: 100vh;
  scroll-snap-align: start;
}
