body {
  margin: 0;
}
p {
  margin: 0;
}
#navbar {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

#navbar .nav-lista {
  background-color: whitesmoke;
  list-style-type: none;
  padding: 30px 0px;
  display: flex;
  justify-content: center;
}

#navbar .nav-lista a {
  text-decoration: none;
  margin: 0px 40px;
}

#logo {
  height: 150px;
}

#hero {
  background-image: url(img/hero.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

div[id^='secao-'] {
  width: 60%;
  margin: 0px auto;
  padding: 20px 0px;
  min-height: 100vh;
}
